*.exe
*.o
*.obj

informe/*.aux
informe/*.log
informe/*.out
informe/*.toc
informe/*.fls
informe/*.fdb_latexmk
informe/*.synctex.gz

entregable/
Comparacion_ACO_PSO_Camilo_Diaz.zip
resultados/barrido_instancias/n20000_*.txt
resultados/barrido_instancias/n200000_*.txt
scripts/__pycache__/
